.array-item {
    width: 5rem;
    text-align: center;
}

.prev-array-item {
    opacity: 0.5;
    width: 3rem;
    text-align: center;
}

.array-table {
    margin: auto auto;
}

.item-container {
    height: 75px;
    display: flex;
    justify-content: right;
}

h2 {
    margin: 10px;
    text-align: center;
}