.sort-canvas {
    border-radius: 5px;
    height: 500px;
    width: 100%;
    margin: 10px auto 10px auto;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
    background: #f1f1f1;
    word-break: break-word;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.bar {
    background: #25ccf7;
    width: 10px;
}
.bar-selected {
    background: #d42203;
    width: 10px;
}

.bars {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    height: 500px;
}

.array-table {
    margin: auto auto;
}

.item-container {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: right;
}