.canvas {
    border-radius: 5px;
    height: 300px;
    margin: 10px auto 10px auto;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
    background: #f1f1f1;
    word-break: break-word;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.workspace {
    margin: 20px 0 10px 0;
}

.step-ol {
    margin: " 15px auto 0"
}

.step-li {
    margin: " 5px auto 0"
}

body {
    word-break: break-word;
}